@media (max-width:760px) {
    #mainTitle{
        font-size: 180%;
    }
    #logo{
        margin-right: 30%;
    }
    #linkButton{
        width: 8rem;
        font-size: 120%;
    }
    #matinText2{
        margin-bottom: 0;
    }
    input{
        font-size: 80%;
    }
}

@media (max-width:450px) {
    #mainTitle{
        font-size: 130%;
    }
    #logo{
        margin-right: 30%;
    }
    #linkButton{
        width: 8rem;
        font-size: 120%;
    }
    #matinText2{
        margin-bottom: 0;
    }
    input{
        font-size: 80%;
    }
    #googleLogin{
        font-size: 95%;
    }
    a{
        margin-top: 0 !important; 
    }
}

@media (max-width:375px){
    #mainTitle{
        font-size: 125%;
    }
    #logo{
        margin-right: 30%;
    }
    #linkButton{
        width: 6rem;
        font-size: 100%;
    }
}

@media (max-width:320px){
    #mainTitle{
        font-size: 100%;
    }
    #logo{
        margin-right: 30%;
    }
    #linkButton{
        width: 5rem;
        font-size: 90%;
    }

}